.work {
    width: 1110px;
    height: 467px;
    background-color: #1a1a1a;
    margin: 650px auto 0 auto;
    color: #fff;

    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.typo-two-work {
    width: 1110px;
    height: 240px;
    text-align: center;
    margin: 0 auto;
}

.worker {
    display: grid;
    grid-template-columns: repeat(auto-fill, 255px);
    /* grid-template-rows: repeat(2, 206px); */
    gap: 30px;
    justify-content: space-evenly;
}

.worker-item {
    width: 255px;
    height: 206px;
}

.item-work {
    /* width: 530px; */
    height: 150px;
    margin: 60px auto 0 auto;
    position: relative;
}

.typo-two-item::after {
    content: "";
    border: 1.5px solid #34C759;
    display: block;
    width: 62px;
    margin: 15px auto;
}

.item-work h3 {
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 12px;
    position: absolute;
    top: 27px;
    right: 372px;
}

.typo-two-item h2 {
    font-size: 100px;
    font-weight: 900;
    color: #303030;
    letter-spacing: 20px;
}

.worker-item {
    padding: 1rem;
    border-radius: 6px;
    background-color: #252525;
    box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 10%);
}

.worker-item h5 {
    margin: 1rem 0;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.worker-item p {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.6px;
    line-height: 18px;
    color: #fff;
    opacity: 50%;
}

.itemone {
    background-color: #34C759;
}

.itemone h5 {
    margin: 1rem 0;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #191919;
}

.itemone p {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.6px;
    line-height: 18px;
    color: #191919;
}


.worker-item .worker-item-title h5::after {
    content: "";
    border: 1.5px solid #191919;
    display: block;
    width: 62px;
    margin: 20px 0;
}

.worker-item h5::after {
    content: "";
    border: 1.5px solid #34C759;
    display: block;
    width: 62px;
    margin: 20px 0;
}



/* --------------------------------------------------------------- */

@media screen and (max-width:1200px) {
    .container-work {
        width: 900px;
        margin: 0 auto;
    }

    .work {
        width: 900px;
        margin: 580px auto 0 auto;
        /* justify-content: start; */
        height: 655px;
    }

    .typo-two-work {
        width: 900px;
    }

    .typo-two-item h2 {
        font-size: 80px
    }

    .item-work h3 {
        font-size: 26px;
        top: 26px;
        right: 300px;
    }

}

@media screen and (max-width:992px) {
    .container-work {
        width: 768px;
        margin: 0 auto;
    }

    .work {
        width: 730px;
        margin: 400px auto 0 auto;
        /* justify-content: start; */
        height: auto;
    }

    .typo-two-work {
        width: 730px;
        height: 230px
    }

    .item-work h3 {
        right: 215px;
    }
}

@media screen and (max-width:768px) {
    .container-work {
        width: 577px;
        margin: 0 auto;
    }

    .work {
        width: 100%;
        margin: 550px auto 0 auto;
        /* justify-content: start; */

    }

    .typo-two-work {
        width: 600px;
        /* height: 170px */
    }

    .item-work {
        height: 80px;
    }
    .item-work h3 {
        right: 150px;
    }
}

@media screen and (max-width:650px) {
    .work{
        margin: 570px auto 0 auto;
    }
}
@media screen and (max-width:576px) {
    .container-work {
        width: 100%;
        margin: 0 auto;
    }

    .work {
        width: 100%;
        margin: 710px auto 0 auto;
        /* justify-content: start; */
        /* gap: 50px; */
        height: auto;

    }

    .typo-two-work {
        width: 100%;
        height: 170px
    }

    .item-work {
        height: 110px;
        width: 250px;
    }

    .typo-two-item h2 {
        font-size: 45px;
        letter-spacing: 10px;
    }

    .item-work h3 {
        font-size: 12px;
        top: 16px;
        right: 39px;
        letter-spacing: 8px;
    }

    .typo-two-item::after {
        border: 1.3px solid #34C759;
        width: 40px;
    }

    .worker-item {
        width: 240px;
        height: 190px;
    }

    .itemone h5 {
        margin: 0.5rem 0;
        font-size: 18px;
    }

    .itemone p {
        font-size: 12px;
    }

    .worker-item h5 {
        margin: 0.5rem 0;
        font-size: 18px;
    }


    .worker-item p {
        font-size: 12px;
    }

    .worker {
        grid-template-columns: repeat(auto-fill, 1fr);
        justify-content: space-evenly;
    }
}